.profile_main_container{
    width: 70%;
    /* height: 5000vh; */
    /* border: 2px solid black; */
    margin: auto;
}

.profile_wrapper{
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: 30% 50%;
    margin-bottom: 8vh;
}

.profile_picture{
    /* border: 2px solid red; */
    height: 100%;
    padding: 10vh 3rem;
}

.profile_details{
    /* border: 2px solid green; */
    height: 100%;
    padding-top:10vh;
    padding-left: 1.5rem;
}

.user_name_edit_wrapper{
    width: 70%;
    display: grid;
    grid-template-columns: 50% 30% 10%;
    margin-bottom: 4vh;
}

.user_name{
    font-size: 1.5rem;
    width: 100%;
    /* border:1px dotted red; */
}

.edit_btn_div{
    /* border: 1px solid gray; */
    text-align: center;
}
.edit_btn{
    width: 90%;
    height: 4vh;
    font-weight: bold;
    padding: auto;
}

.setting_btn{
   padding-left: 0.5rem; 
}

.post_follower_wrapper{
    display: grid;
    width:70% ;
    /* border: 1px solid red; */
    grid-template-columns:30% 36% 33%;
    margin-bottom: 4vh;
}


.posts_wrapper{
    width: 70%;
    /* height: 1000vh; */
    /* border: 2px solid gray; */
    margin: auto;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    gap: 1.7rem;
    margin-top: 8vh;
}

